/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
        display:flex ;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        font-family: Georgia, 'Times New Roman', Times, serif
}

header, footer{
 background-color: black;
 color: aliceblue;
 padding: 20px;
 text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.perfil{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 02px rgba(0, 0, 0, 1);
    text-align: center;
}
.projetos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 02px rgba(0, 0, 0, 1);
    text-align: center;
}
.contato{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 02px rgba(0, 0, 0, 1);
    text-align: center;
}

#botão1{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 183, 255);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.foto1{
    height: 110px;
    width: 110px;
}

@media{max-width: 768px} {
    main {
        grid-template-columns: 1fr;
    }
}