*{
    text-align: center;
}
h1{
    font-size: 40px;
}
#vermelho{
    font-size: 20px;
    background-color: red;  
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#azul{
    font-size: 20px;
    background-color: blue;  
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#amarelo{
    font-size: 20px;
    background-color: yellow;  
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#branco{
    font-size: 25px;
    background-color: rgb(255, 255, 255);  
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}